.admin-user-profile {
  max-width: 1000px;
  margin: 15px auto;
  padding: 15px 30px;
  //background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  position: relative;

  h2 {
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: '👤';
      font-size: 22px;
    }
  }

  .user-details {
    p {
      margin: 8px 0;
      font-size: 16px;
      color: #555;
      line-height: 1.5;

      strong {
        color: #222;
        font-weight: 600;
        margin-right: 5px;
      }

    }
  }

  .user-avatar {
    strong {
      display: block;
      font-size: 16px;
      color: #333;
    }

    img {
      border-radius: 10px;
      width: 50%;
      height: 200px;
      object-fit: cover;
      border: 2px solid #ddd;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
        border-color: #4fa94d;
      }
    }
  }

  // Responsive
  @media (max-width: 768px) {
    padding: 20px;

    h2 {
      font-size: 20px;
    }

    .user-details p {
      font-size: 14px;
    }

    .user-avatar img {
      width: 100px;
      height: 100px;
    }
  }
}

.logout-button {
  position: absolute;
  background-color: #e63946;
  font-family: 'PoppinsMedium', sans-serif;
  width: 250px;
  bottom: 10px;
  right:  0;

  &:hover {
    background-color: darken(#f44336, 7%);
  }
}
