@import "variables";

.dashboard {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
  color: #333;
  //width: 200px;

  .filters {
    width: 200px;
    gap: 1rem;
    margin: 1rem 0;
    position: fixed;
    z-index: 901;
    top: 500px;
    left: 10px;

    label {
      font-weight: 600;
      font-size: 0.95rem;
      color: #444;
      margin-top: 10px;

      &:first-child{
        margin-top: 0;
      }

    }
  }

  .summary {
    background: #fff;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    p {
      font-size: 1rem;
      margin-top: 10px;
      font-weight: 500;
    }
  }


  .summary__group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.8rem;

  }

  .chart__wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

  }

  .chart-container {

    display: flex;
    gap: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);



    //min-height: 400px;
    width: calc(100% - 250px);
    //margin-bottom: 2rem;

  }

  .stats-title{
    font-size: 1rem;
    margin: 20px 0;
  }
  .stats-table {
    overflow-x: auto;
  }

  .stats-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }

  .stats-table th,
  .stats-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .stats-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }



  .chart__container_circle{
    max-height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);


    h3 {
      margin-left: 20px;
      font-size: 1.25rem;
      font-weight: 700;
      color: #444;
      margin-top: 20px;
      letter-spacing: 0.5px;
    }
  }
  .buyers {

    .buyers-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 0.8rem;
    }

    .buyer-card {
      display: flex;
      gap: 1rem;
      background: #fff;
      padding: 1rem;
      border-radius: 0.5rem;
      align-items: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

      .buyer-avatar {
        width: 50px;
        height: 50px;
        border-radius: 20%;
        background: #ddd;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        &-svg{
          fill: #8a8e8f;
        }
      }

      .buyer-info {
        font-size: 0.9rem;
        line-height: 1;


        strong {
          font-weight: 600;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .chart__wrapper {
      display: block;
      width: 100%;
    }
    .chart-container,
    .chart__container_circle
    {
      width: 100% !important;
      max-width: 100%;
      margin-top: 20px;
    }
    .chart__container_circle{
      h3 {
        margin-left: 10px;
        font-size: 1rem;
        margin-top: 10px;
      }
    }

    .chart__container-desc{
      margin: 0 auto;
    }
  }
}



